---
import PageLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";
import Card from "../../components/Card.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import SkillLayout from "../../components/SkillLayout.astro";
import ProfileHeader from "../../components/ProfileHeader.astro";

import { resumeData, getSkillsByCategory } from "../../data/resume";

const { summary, experience, education, projects, skills } = resumeData;
---

<PageLayout meta={{ title: "Resume" }}>
  <a
    href='#experience'
    class='sr-only focus:not-sr-only focus:block focus:static focus:z-50 focus:p-4 m-4'
    >Skip to experience sections</a
  >

  <a
    href='#projects'
    class='sr-only focus:not-sr-only focus:block focus:static focus:z-50 focus:p-4 m-4'
    >Skip to projects sections</a
  >

  <a
    href='#skills'
    class='sr-only focus:not-sr-only focus:block focus:static focus:z-50 focus:p-4 m-4'
    >Skip to skills sections</a
  >

  <div class='flex w-full flex-col gap-y-10'>
    <ProfileHeader />

    <Section title='About'>
      <p class='text-muted-foreground'>
        {summary.short.map((line, i) => (
          <>
            {line}
            {i < summary.short.length - 1 && <br />}
          </>
        ))}
      </p>
    </Section>

    <Section title='Experience' id='experience'>
      {experience.map((exp) => (
        <Card
          heading={exp.company}
          subheading={exp.position}
          date={`${exp.startDate} - ${exp.endDate}`}
          altText={`${exp.company} website`}
          imageClass='h-12 w-auto md:-left-16'
          href={exp.website}
          as='a'
        >
          <span class='sr-only'>(opens in new tab)</span>
          <ul class='ml-4 list-disc text-muted-foreground'>
            {exp.achievements.map((achievement) => (
              <li>{achievement}</li>
            ))}
          </ul>

          <div class='text-stone-800 dark:text-stone-100 text-sm'>
            Skills: {exp.skills.join(", ")}
          </div>
        </Card>
      ))}
    </Section>

    <Section title='Projects' id='projects'>
      <div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
        {projects.map((project) => (
          <ProjectCard
            aria-label={project.url ? `${project.title} project (opens in new tab)` : undefined}
            href={project.url}
            heading={project.title}
            subheading={project.description}
            imagePath={project.imagePath}
            altText={project.title}
            class='w-full sm:w-1/2'
            as={project.url ? 'a' : 'div'}
          />
        ))}
      </div>
    </Section>

    <Section title='Education'>
      {education.map((edu) => (
        <Card
          heading={edu.institution}
          subheading={edu.minor ? `${edu.degree}, Minor - ${edu.minor}` : edu.degree}
          altText='College education'
          imageClass='h-12 w-auto md:-left-16'
          aria-label={`${edu.institution} website (opens in new tab)`}
          href={edu.website}
          as='a'
          imagePath={edu.logoPath}
        />
      ))}
    </Section>

    <Section title='Skills' id='skills'>
      {skills.map((category) => (
        <SkillLayout title={category.title} skills={category.skills} />
      ))}
    </Section>
  </div>
</PageLayout>
