---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

import { siteConfig } from "../site.config";
import { resumeData } from "../data/resume";
import type { SiteMeta } from "../types";
import JsonLd from "./JsonLd.astro";

type Props = SiteMeta;

const { articleDate, articleTags, description, ogImage, ogImageAlt, title } =
	Astro.props;

const { contact } = resumeData;
const titleSeparator = "•";
const isHomepage = Astro.url.pathname === "/" || Astro.url.pathname === "";
const siteTitle = isHomepage
	? `${contact.name} - Senior Software Engineer ${titleSeparator} ${siteConfig.title}`
	: `${title} ${titleSeparator} ${siteConfig.title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(
  ogImage ? ogImage : "/social_card.jpg",
  Astro.url
).href;
---

<meta charset='utf-8' />
<meta
  content='width=device-width, initial-scale=1.0, shrink-to-fit=no'
  name='viewport'
/>
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<!-- <link href="favicon/favicon.ico" rel="icon" sizes="any" />
<link href="favicon/icon.svg" rel="icon" type="image/svg+xml" />
<link href="/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="/manifest.webmanifest" rel="manifest" /> -->

<link
  rel='apple-touch-icon'
  sizes='180x180'
  href='/favicon/apple-touch-icon.png'
/>
<link
  rel='icon'
  type='image/png'
  sizes='32x32'
  href='/favicon/favicon-32x32.png'
/>
<link
  rel='icon'
  type='image/png'
  sizes='16x16'
  href='/favicon/favicon-16x16.png'
/>
<link rel='manifest' href='/favicon/site.webmanifest' />

{/* Font preloads */}
<link
  rel='preload'
  href='/fonts/Satoshi-Variable.woff2'
  as='font'
  type='font/woff2'
  crossorigin='anonymous'
/>

{/* Canonical URL */}
<link rel='canonical' href={canonicalURL} />

{/* Hreflang */}
<link rel='alternate' hreflang={siteConfig.lang} href={canonicalURL} />
<link rel='alternate' hreflang='x-default' href={canonicalURL} />

{/* Primary Meta Tags */}
<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={siteConfig.author} name='author' />

{/* Theme Colour */}
<meta content='#0f172a' name='theme-color' media='(prefers-color-scheme: dark)' />
<meta content='#f1f5f9' name='theme-color' media='(prefers-color-scheme: light)' />

{/* Open Graph / Facebook */}
<meta content={articleDate ? "article" : "website"} property='og:type' />
<meta content={title} property='og:title' />
<meta content={description} property='og:description' />
<meta content={canonicalURL} property='og:url' />
<meta content={siteConfig.title} property='og:site_name' />
<meta content={siteConfig.ogLocale} property='og:locale' />
<meta content={socialImageURL} property='og:image' />
<meta content='1200' property='og:image:width' />
<meta content='630' property='og:image:height' />
<meta content={ogImageAlt ?? `${title} - ${siteConfig.title}`} property='og:image:alt' />
{
  articleDate && (
    <>
      <meta content={siteConfig.author} property='article:author' />
      <meta content={articleDate} property='article:published_time' />
      {articleTags?.map((tag) => <meta content={tag} property='article:tag' />)}
    </>
  )
}

{/* Twitter */}
<meta content='summary_large_image' name='twitter:card' />
<meta content='@funkstyr' name='twitter:site' />
<meta content='@funkstyr' name='twitter:creator' />
<meta content={canonicalURL} name='twitter:url' />
<meta content={title} name='twitter:title' />
<meta content={description} name='twitter:description' />
<meta content={socialImageURL} name='twitter:image' />
<meta content={ogImageAlt ?? `${title} - ${siteConfig.title}`} name='twitter:image:alt' />

{/* Sitemap */}
<link href='/sitemap-index.xml' rel='sitemap' />

{/* RSS auto-discovery */}
<link
  href='/rss.xml'
  rel='alternate'
  title={siteConfig.title}
  type='application/rss+xml'
/>

<meta content={Astro.generator} name='generator' />
<JsonLd />
