---
import { Icon } from "astro-icon/components";
import Label from "./Label.astro";
import Avatar from "./Avatar.astro";
import { resumeData, getSocialLink } from "../data/resume";

const { contact } = resumeData;
const linkedIn = getSocialLink("LinkedIn");
---

<section class='flex flex-col items-center gap-y-7'>
  <Avatar />

  <div class='flex flex-col items-center gap-y-4'>
    <h1 class='text-3xl font-bold'>{contact.name}</h1>

    <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
      <Label
        title={contact.currentCompany}
        as='a'
        aria-label={`${contact.currentCompany} website`}
        href={contact.currentCompanyUrl}
        target='_blank'
      >
        <span class='sr-only'>(opens in new tab)</span>
        <Icon
          slot='icon'
          class='h-5 w-5'
          name='tabler:briefcase'
          aria-hidden='true'
        />
      </Label>
      <!--
      <Label title='Sacramento, CA'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 24 24'
          class='h-5 w-5'
          slot='icon'
          ><path
            fill='currentColor'
            d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
          ></path></svg
        >
      </Label> -->

      <Label
        title='Linkedin'
        as='a'
        aria-label='Linkedin profile'
        href={linkedIn?.url}
        target='_blank'
      >
        <span class='sr-only'>(opens in new tab)</span>
        <Icon
          slot='icon'
          class='h-5 w-5 text-foreground/75'
          name='tabler:brand-linkedin'
          aria-hidden='true'
        />
      </Label>

      <Label
        title='Resume'
        as='a'
        aria-label='View resume as PDF (opens in new tab)'
        href='/resume/print'
        target='_blank'
        data-track-print-resume
      >
        <span class='sr-only'>(opens in new tab)</span>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 24 24'
          slot='icon'
          class='h-5 w-5 text-foreground/75'
          aria-hidden='true'
          ><path
            fill='currentColor'
            d='M6 2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zm0 2h7v5h5v11H6zm2 8v2h8v-2zm0 4v2h5v-2z'
          ></path></svg
        >
      </Label>
    </div>
  </div>
</section>

<script>
  import { trackResumePrintLinkClick } from "../utils/analytics";

  const printResumeLink = document.querySelector("[data-track-print-resume]");
  printResumeLink?.addEventListener("click", () => {
    trackResumePrintLinkClick();
  });
</script>
